### These two are what you need to fill.
### Rest env variables have default sane values.
## uncomment these two and you are good to go.
# DATABASE_USER=db_user
# DATABASE_PASSWORD=db_password

# uncomment this if you want debug to off.
#DJANGO_DEBUG=False

#unused for now, dont use this
# DATABASE_URL=postgres://test

# email backend, change these if you need
#DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
#DJANGO_SECRET_KEY=e%s=1kdk1_-z5gd(owqpxbyl+6^)+yur9cmpkw8r*10-a3c4v

## if you want to run your database elsewhere, you need to change these.
# DATABASE_NAME=rental
# DATABASE_HOST=localhost
# DATABASE_PORT=5432

# use this if you dont want to run two servers
# this will build a bundle which is directly consumed
# by django.
#DJANGO_BUILD_WEBPACK=True


#only for testing locally, when there's problem with ci
#DJANGO_TESTING_DB_NAME=db_test
#DJANGO_TESTING_DB_USER_NAME=name
#DJANGO_TESTING_DB_USER_PWD=password
#DJANGO_TESTING_DB_HOST=localhost
#DJANGO_TESTING_DB_PORT=5432
