argon2==0.1.10
argon2-cffi==16.3.0
dj-database-url==0.4.2
Django==1.11.8
django-appconf==1.0.2
django-b2storage==1.0
django-backblazeb2-storage==0.4
django-bootstrap3==9.1.0
django-classy-tags==0.8.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.9.1
django-easy-maps==0.9.3
django-environ==0.4.4
django-geoposition==0.3.0
django-jquery==3.1.0
django-map-widgets==0.1.9
django-sendgrid-v5==0.6.84
django-taggit==0.22.2
django-widget-tweaks==1.4.1
environ==1.0
gunicorn==19.7.1
olefile==0.44
Pillow==4.1.1
psycopg2==2.7.1
pycparser==2.18
Pygments==2.2.0
pytz==2017.3
raven==6.3.0
requests==2.18.4
requests-oauthlib==0.8.0
seaborn==0.8.1
sendgrid==5.3.0
six==1.11.0
sqlparse==0.2.4
whitenoise==3.3.1
