{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %} User | {{object}}  | {{ block.super }}{% endblock %}

{% block content %}

<h1 class="heading-primary heading-primary--main u-margin-bottom-medium u-center-text u-margin-top-big">User Details</h1>

        <section class="section section--profile">
                <div class="profile">
                <div class="profile__head">
                    <div class="profile__photo">
                        <div>
                                {% if object.pic %}
                                        <img src={{object.pic.url}} alt="peron on  a tour" class="story__img">
                                {% else %}
                                        <p>Photo</p>
                                {% endif %}
                        </div>
                    </div>
                    <div class="profile__title">
                        <h2 class="heading-secondary heading-user heading-user--main">
                                {{object.full_name}}
                        </h2>
                        <p class="heading-user heading-user--sub">
                                @{{object.user.username}}
                        </p>
                    </div>
                
                
                </div>
                    <div class="profile__line">
                    &nbsp;
                    </div>
                    <div class="profile__about">
                        <h3 class="heading-tertiary">About user</h3>
                        <p>
                                {{object.bio}}
                        </p>
                    </div>

                    <div class="profile__line">
                    &nbsp;
                    </div>
                    <div class="profile__info">
                        <ul>
                                <li class="profile__info__item">
                                        <span class="name">
                                                Full Name
                                        </span>
                                            
                                        <span class="value">
                                                {{object.full_name}}
                                        </span>
                                </li>
                                <div class="profile__line profile__line--small">
                                        &nbsp;
                                </div>
                                <li class="profile__info__item">
                                        <span class="name">
                                            Email
                                        </span>
                                            
                                        <span class="value">
                                                {{object.user.email}}
                                        </span>
                                </li>
                                <div class="profile__line profile__line--small">
                                        &nbsp;
                                </div>
                                <li class="profile__info__item">
                                        <span class="name">
                                            Phone
                                        </span>
                                            
                                        <span class="value">
                                                {{object.phone_number}}
                                        </span>
                                </li>
                                <div class="profile__line profile__line--small">
                                        &nbsp;
                                </div>
                                <li class="profile__info__item">
                                        <span class="name">
                                            Profession
                                        </span>
                                            
                                        <span class="value">
                                                {{object.profession}}
                                        </span>
                                </li>
                                <div class="profile__line profile__line--small">
                                        &nbsp;
                                </div>
                                <li class="profile__info__item">
                                        <span class="name">
                                            Date of Birth
                                        </span>
                                            
                                        <span class="value">
                                                {{object.birth_date}}
                                        </span>
                                </li>
                        </ul>
                    </div>
                

                </div>
        
</section>


        {% if rentals %}
        <h3 class="heading-tertiary u-center-text u-margin-bottom-small">Rentals From this User</h3>
        <form class="form u-margin-bottom-small" action="{% url 'profiles:detail' username=object.user %}" method="GET">
                        {% csrf_token %}
                        <input placeholder="Search..." name='uq' value={{request.GET.uq}}>
                </form>
        <section class="section section--cards">

            {% for obj in rentals %}

        
                <div class="card">
                        {% if obj.photo %}
                        <div class="card__picture" style="background-image: linear-gradient(to right bottom, rgba(64, 110, 142, .7), rgba(22, 25, 37, .7)), url({{ obj.photo.url }});">
                        {% else %}
                        <div class="card__picture" style="background-image: linear-gradient(to right bottom, rgba(64, 110, 142, .7), rgba(22, 25, 37, .7)), url(/static/images/default.jpg);">

                        {% endif %}
                                &nbsp;
                        </div>
                        <h4 class="card__heading">
                                <span class="card__heading-span">
                                        <a href="{% url 'rentals:detail' pk=obj.pk %}">{{ obj.title }}</a>
                                </span>

                        </h4>
                        <div class="card__details">
                                <ul>
                                        <li><span class="card__key"><i class="feature-box__icon icon-basic-info"></i></span><span class="card__value">{{obj.description}}</span></li>
                                        <li><span class="card__key"><i class="feature-box__icon icon-basic-star"></i></span><span class="card__value">4.5</span></li>
                                        <li><span class="card__key"><i class="feature-box__icon icon-basic-message-multiple"></i></span><span class="card__value">30</span></li>
                                </ul>

                        </div>

                
                </div>
            {% endfor %}
        </section>
        {% else %}
            <p class="heading-tertiary u-center-text u-margin-top-big">No rentals Available form this user</p>
        {% endif %}

{% endblock %}
