*,
*::after,
*::before{
        margin:0;
        padding:0;
        box-sizing: inherit;
}

html {
        font-size: 62.5%;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #444;
}

body{
        box-sizing: border-box;
        padding: 3rem;
        background-color: #f6f6f6;

}

.rental-photo {
        display: block;
        width: 400px;
        height: auto;
        display: inline-block;
        margin: 5rem, auto;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .55);
}

.photo-div{
        margin-bottom: 3rem;
}

h1 {
        font-weight: 400;
        padding: 0
}
h3 {
        font-size: 2rem;
}
a, p {
        font-size: 1.5rem;
}

a {
        text-decoration: none;
}

ul {
        list-style: none;
        padding: 0;
}
nav{
        text-align: center;
}

nav li {
        display: inline-block;
        padding: 0 2rem;
        text-align: center;
}

.heading-primary {

        text-transform: uppercase;
        font-size: 5rem;
        text-align: center;
        font-weight: 400;
        margin-bottom: 2rem;
        margin-top: 5rem;
        background-image: linear-gradient(to right, #23f451, #4512f6);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .2rem;
}

.heading-secondary {
        font-weight: 500;
        margin-bottom: 1rem;
        margin-top: 2rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #23e727, #2542c6);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .1rem;
        transform: scale(1);
        transition: hover, .3s;
}

.heading-secondary:hover {
        transform: scale(1.2);
        display: inline-block;
}
.heading-secondary:active{
        color: #23e727;
}


.rental-info {
        margin-bottom: 5rem;
}


label {
        display: block;
        margin-top: .5rem;
}

input {
}

.form-div{
}


