{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}  Login | {{ block.super }}{% endblock %}
{% block content %}

<section class="section section--form section--form--login">

        <div class="card card__form card__form--login">

                <div class="card__picture card__form__picture" style="background-image: linear-gradient(to right bottom, rgba(64, 110, 142, .7), rgba(22, 25, 37, .7)), url({% static 'images/form_images/login.jpg' %});">
                        &nbsp;
                </div>
                <h4 class="card__heading card__heading--form">
                        <span class="card__heading-span card__heading-span--form">
                                Login
                        </span>
                </h4>
                <form class="form" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        
<!--                        {% for field in form %}
                                <div class="form__group">
                                        {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p class="form__error">{{error}}</p>
                                                {% endfor %}
                                        {% endif %}
                                        {{ field.label_tag }}
                                        {{ field }}
                                </div>
                        {% endfor %}
-->
                        <div class="form__group">
                                <button class="btn btn--primary">Login</button>
                        </div>
                
                        <p class="u-center-text u-margin-bottom-small">New to This Site?</br><a href="{% url 'accounts:signup' %}">Sign up</a></p>
                </form>
        </div>
</section>

{% endblock %}
