{% load static %}
<footer class="footer">
        <div class="footer__logo-box">
        <picture class="footer__logo">
        <img srcset="{% static "images/logo-big-color.png" %}" alt"full-logo" class="footer__logo">
        </div>
               
        <div class="row">
                <div class="col-1-of-2">
                        <div class="footer__navigation">
                                <ul class="footer__list">
                                        <li class="footer__item"><a class="footer__link" href="#">About Us</a></li>
                                        <li class="footer__item"><a class="footer__link" href="#">Contact Us</a></li>
                                        <li class="footer__item"><a class="footer__link" href="#">Careers</a></li>
                                        <li class="footer__item"><a class="footer__link" href="#">Privacy Policy</a></li>
                                        <li class="footer__item"><a class="footer__link" href="#">Terms</a></li>
                                </ul>
                        
                        </div>
                </div>
                <div class="col-1-of-2">
                        <p class="footer__copyright">
                        
                        Copyright &copy; Rental Service co.
                        Los Angeles-CA, USA
                        </p>
                
                </div>
        </div>
</footer>
