<footer class="footer">
<div class="footer__logo-box">
<picture class="footer__logo">
        <img srcset="images/logo-green-2x.png" alt"full-logo" class="footer__logo">
</div>
<div class="footer__text">
                <div class="footer__text--navigation">
                        <ul class="footer__list">
                                <li class="footer__item"><a class="footer__link" href="#">Company</a></li>
                                <li class="footer__item"><a class="footer__link" href="#">Contact Us</a></li>
                                <li class="footer__item"><a class="footer__link" href="#">Careers</a></li>
                                <li class="footer__item"><a class="footer__link" href="#">Privacy Policy</a></li>
                                <li class="footer__item"><a class="footer__link" href="#">Terms</a></li>
                        </ul>
                
                </div>
                <div class="footer__text--bio">
                        <p class="footer__copyright">
                        
                        Copyright &copy; Rental Service co.
                        Los Angeles-CA, USA
                        </p>
                
                </div>
</div>
</footer>
