{% load staticfiles %}
{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr5c9MjnkCnMZqkIIEZVPyMnSdABxSnog&libraries=places&callback=activatePlacesSearch"></script>
<!--
<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
-->

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
