
<div class="main-nav">
        <nav>
        <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'rentals:index' %}">Rental</a></li>
                {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:logout' %}">logout</a>
                        </li>
                {% else %}
                        <li><a href="{% url 'accounts:login' %}">login</a> </li>
                        <li><a href="{% url 'accounts:signup' %}">signup</a></li>
                {% endif %}
                <div class="search-form-group">
                        <li>
                                <form method="GET" action="{% url 'rentals:index' %}" class="search-form">
                                        <input type="text" placeholder="Search" name="q" value="{{request.GET.q}}">
                                </form>
                        </li>
                        
                </div>
        </ul>
        </nav>
</div>
