{% extends 'base.html' %}

<h1> Error </h1>
<div class='container'>
        <div class="server-error">
                <span class="server-error__code">
                        {% block code %}
                        {% endblock %}
                </span>
                <span class="server-error__name">
                        {% block name %}
                        {% endblock %}
                </span>
                <span class="server-error__message">
                        {% block message %}
                        {% endblock %}
                        <span class="server-error__message--link">
                            <p>Please return to the <a href="{% url 'home' %}">HomePage</a></p>
                        </span>
                </span>
        </div>
</div>
