{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}{{ rental.title }} | {{ block.super }}{% endblock %}

{% block content %}
        <style>
            .hero{
                {% if rental.photo %}
                        background-image:linear-gradient(45deg, rgba(255, 255, 255, .4), transparent), url({{rental.photo.url}});
                {% else %}
                        background-image:linear-gradient(45deg, rgba(255, 255, 255, .4), transparent), url("/static/images/house-gen.png");

                {% endif %}
                transition: background-image 1s;
                background-position: center;
            }
            .hero:hover{
                {% if rental.photo %}
                        background-image:linear-gradient(45deg, rgba(0, 0, 0, .3), transparent), url({{rental.photo.url}});
                {% else %}
                        background-image:linear-gradient(45deg, rgba(0, 0, 0, .3), transparent), url("/static/images/house-gen.png");
                {% endif %}
            }
        </style>

        <section class="section section--detail section--detail--rental">
                <div class="top">

                        <div class="hero" >
                                <h1 class="hero__text hero__text--main">
                                        <span class="span card__heading-span">{{rental.title}}</span>
                                </h1>
                        </div>

                        <div class="cta cta1">
                                <span class="cta__icon">
                                        <svg class="cta__icon feature-box__icon">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-price-tags"></use>
                                        </svg>
                                </span>
                                <p class="cta__value">$ {{rental.rent}}</p>
                        </div>

                        <div class="cta cta2">
                                <span class="cta__icon">
                                        <svg class="cta__icon feature-box__icon">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-star"></use>
                                        </svg>
                                </span>
                                <p class="cta__value">{{rental.rating|floatformat:1}}</p>
                        </div>

                        <div class="cta cta3">
                                <span class="cta__icon">
                                        <svg class="cta__icon feature-box__icon">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-thumbs-up"></use>
                                        </svg>
                                </span>
                                <p class="cta__value">{{rental.intrested.count}} <span class="u-hide-me--phone">intrested</span></p>
                        </div>
                </div>
                <div class="description">
                        <p>{{rental.description}}</p>
                            {% ifequal request.user.username rental.author.username %}
                                <a href="{% url 'rentals:update' pk=rental.pk %}" class="btn btn--rentaladd u-margin-bottom-small">Edit</a>
                            {% endifequal %}
                </div>





                {% if rental.tags.names %}
                        <div class="tags">

                                {% for tag in rental.tags.names %}
                                <div class="tag">
                                        <p>{{tag}}</p>
                                </div>
                                {% endfor %}
                        
                        </div>
                {% endif %}

                {% ifequal rental.author request.user %}
                        <h3 class="heading-tertiary u-marign-bottom-medium">People intrested in your rentals</h3>
                        <div class="tags" style="text-align:center;">
                                {% if rental.intrested.all %}

                                {% for user in rental.intrested.all %}
                                        <a href="{% url "profiles:detail" username=user.username %}">
                                                {% if user.user_profile.pic %}
                                                        <div class="profile__photo"><img src="{{user.user_profile.pic.url}}"  class="story__img" alt=""></div>
                                                {% else %}
                                                        <div class="profile__photo"><img src="{% static 'images/user-gen.png' %}"  class="story__img" alt=""></div>
                                                {% endif %}
                                                <h4 class="heading-quadnary">
                                                        {% if user.user_profile.full_name %}
                                                            {{user.user_profile.full_name}}
                                                        {% else %}
                                                            ---
                                                        {% endif %}
                                                </h4>
                                                <p>@{{user.username}}</p>
                                        </a>
                                {% endfor %}
                                {% else %}
                                        <p>No one is currently intrested in this rental</p>
                                {% endif %}
                        
                        </div>
                {% endifequal %}

                <div class="options">
                        <div class="options__map" id="mapDiv">
                                <h1>Map</h1>  
                        </div>

                        <div class="options__cta">
                            <div class="options__user-info">
                                <h3 class="heading-tertiary u-center-text">Added by</h3>
                                {% if rental.author.user_profile.pic %}
                                        <div class="profile__photo"><img src="{{rental.author.user_profile.pic.url}}"  class="story__img" alt=""></div>
                                {% else %}
                                        <div class="profile__photo"><img src="{% static 'images/user-gen.png' %}"  class="story__img" alt=""></div>
                                {% endif %}

                                <h4 class="options__username">@{{rental.author.username}}</h4>
                                <p>{{rental.created_date}}</p>
                            </div>
                            {% ifequal request.user rental.author %}
                            {% else %}
                            <div class="options__buttons">
                                    <a class="btn btn--white options__button" href="{% url "profiles:detail" username=rental.author.username %}">Contact </a>
                                    
                                            {% csrf_token %}
                                            {% if request.user in rental.intrested.all %}
                                                <a class="btn btn--active" type="submit" href="#intrested"> Interested </a>
                                            {% else %}
                                                <a class="btn btn--white options__button" type="submit" href="#intrested"> Interested </a>
                                            {% endif %}
                            </div>
                            {% endifequal %}
                        </div>
                </div>

                {% ifequal rental.author request.user %}
                {% else %}
                <div class="popup popup--signup" id="intrested">
                  <div class="popup__content">
                    <div class="popup__card">
                        <div class="popup__card--head">
                            {% if request.user in rental.intrested.all %}
                                    Are you sure you want to mark yourself uninterested in this rental
                            {% else %}
                                    Are you sure you want to mark yourself interested in this rental
                            {% endif %}
                        </div>
                        <div class="popup__card--body">

                            <form action="{% url 'rentals:intrested' pk=rental.pk %}" method="POST"> 
                                        {% csrf_token %}
                                        <button class="btn btn--secondary u-margin-bottom-small" type="submit"> Confirm </button>
                            </form>
                            <a class="btn btn--secondary options__button" href="#">Cancel</a>
                        </div>
                    </div>
                  </div>
                </div>
                {% endifequal %}

                <!--
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=43.2,-79.8&zoom=14&size=800x150&key=AIzaSyBBPkHM44ThhYSchGzmuYBgHAmx2NhSqD4&scale=2" alt="map">
                -->

                <h2 class="heading-secondary">reviews</h2>
                <div class="reviews" id="reviews">
                                <form class="form reviews__form" action="{% url "rentals:comment" pk=rental.pk %}" method="POST">
                                    <div class="reviews__form__inputs">
                                        {% csrf_token %}
                                            {% if form.non_field_errors %}
                                                    {% for error in form.non_field_errors %}
                                                            {{error}}
                                                    {% endfor %}
                                            {% endif %}
                                        {% for field in form %}
                                                {% if field.errors %}
                                                        {% for error in field.errors %}
                                                            <p class="form__error">{{error}}</p>
                                                        {% endfor %}
                                                {% endif %}
                                                    {{field}}
                                        {% endfor %}
                                        <div class="reviews__form__star">
                                            <svg class="cta__icon cta__icon--full" id="reviewformstar1">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-star"></use>
                                            </svg>
                                            <svg class="cta__icon " id="reviewformstar2">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-star"></use>
                                            </svg>
                                            <svg class="cta__icon " id="reviewformstar3">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-star"></use>
                                            </svg>
                                            <svg class="cta__icon " id="reviewformstar4">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-star"></use>
                                            </svg>
                                            <svg class="cta__icon " id="reviewformstar5">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-star"></use>
                                            </svg>
                                        
                                        </div>
                                    </div>
                                        <button class="btn btn--primary reviews__form__button" type="submit">Submit</button>
                                </form>


                    <div class="reviews__content">
                    

                        {% if rental.comments.all %}
                        {% for comment in rental.comments.all %}
                        <div class="story">
                                <div>
                                        <figure class="story__shape">
                                                {% if comment.author.user_profile.pic %}
                                                    <img src="{{comment.author.user_profile.pic.url}}" alt="peron on  a tour" class="story__img">
                                                {% else %}
                                                        <img src="{% static 'images/user-gen.png' %}" alt="peron on  a tour" class="story__img">
                                                {% endif %}
                                                <figcaption class="story__caption">
                                                        {{comment.author}}
                                                </figcaption>

                                        </figure>
                                </div>

                                <div class="story__text">
                                        <div class="story__text--heading">
                                                <h3 class="heading-quadnary">{{comment.author}}</h3>
                                                <div class="story__text--star">
                                                        {% for _ in comment.stars_range %}
                                                                <svg class="cta__icon cta__icon--full">
                                                                    <use xlink:href="{% static 'images/sprite.svg' %}#icon-star"></use>
                                                                </svg>
                                                        {% endfor %}
                                                </div>
                                                <p>{{comment.created_date|timesince}} ago</p>
                                        </div>
                                        <p>
                                        {{comment.text}}
                                        </p>
                                </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <p class="heading-tertiary u-center-text">no comments yet</p>
                        {% endif %}

                    </div>

                    
                </div>

        </section>

{% endblock %}
