{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}{{ rental.title }} | {{ block.super }}{% endblock %}

{% block content %}
        <style>
            .hero{
                {% if rental.photo %}
                        background-image:linear-gradient(45deg, rgba(255, 255, 255, .4), transparent), url({{rental.photo.url}});
                {% else %}
                        background-image:linear-gradient(45deg, rgba(255, 255, 255, .4), transparent), url("/static/images/signup.jpeg");

                {% endif %}
                transition: background-image 1s;
                background-position: bottom;
            }
            .hero:hover{
                {% if rental.photo %}
                        background-image:linear-gradient(45deg, rgba(0, 0, 0, .3), transparent), url({{rental.photo.url}});
                {% else %}
                        background-image:linear-gradient(45deg, rgba(0, 0, 0, .3), transparent), url("/static/images/signup.jpeg");
                {% endif %}
            }
        </style>

        <section class="section section--detail section--detail--rental">
                <div class="top">

                        <div class="hero" >
                                <h1 class="hero__text hero__text--main">
                                        <span class="span card__heading-span">{{rental.title}}</span>
                                </h1>
                        </div>

                        <div class="cta cta1">
                                <span class="cta__icon">
                                        <svg class="cta__icon feature-box__icon">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-price-tags"></use>
                                        </svg>
                                </span>
                                <p class="cta__value">$ {{rental.rent}}</p>
                        </div>

                        <div class="cta cta2">
                                <span class="cta__icon">
                                        <svg class="cta__icon feature-box__icon">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-star"></use>
                                        </svg>
                                </span>
                                <p class="cta__value">{{rental.rating|floatformat:1}}</p>
                        </div>

                        <div class="cta cta3">
                                <span class="cta__icon">
                                        <svg class="cta__icon feature-box__icon">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-thumbs-up"></use>
                                        </svg>
                                </span>
                                <p class="cta__value">{{rental.intrested}} intrested</p>
                        </div>
                </div>
                <div class="description">
                        <p>{{rental.description}}</p>
                </div>





                {% if rental.tags.names %}
                        <div class="tags">

                                {% for tag in rental.tags.names %}
                                <div class="tag">
                                        <p>{{tag}}</p>
                                </div>
                                {% endfor %}
                        
                        </div>
                {% endif %}


                <div class="options">
                        <div class="options__map">
                                <h1>Map</h1>  
                        </div>

                        <div class="options__cta">
                            <div class="options__user-info">
                                <h3 class="heading-tertiary u-center-text">Added by</h3>
                                {% if rental.author.user_profile.pic %}
                                        <div class="options__shape"><img src="{{rental.author.user_profile.pic.url}}" alt=""></div>
                                {% endif %}

                                <h4 class="options__username">{{rental.author}}</h4>
                                <p>{{rental.created_date}}</p>
                            </div>
                            <div class="options__buttons">
                                    <a class="btn btn--white options__button" href="{% url "profiles:detail" username=rental.author.username %}">Contact </a>
                                    <a class="btn btn--white options__button" href="#"> Interested </a>
                            </div>
                        </div>
                </div>




                <div class="user">
                        <div class="user__photo">
                        
                        </div>
                        <div class="user__info">
                        </div>
                </div>


                <h2 class="heading-secondary">reviews</h2>
                <div class="reviews">
                                <form class="form reviews__form" action={% url "rentals:comment" pk=rental.pk %} method="POST">
                                    <div class="review__form__inputs">
                                        {% csrf_token %}
                                        {% for field in form %}
                                                    {{field}}
                                        {% endfor %}
                                    </div>
                                        <button class="btn btn--primary reviews__form__button" type="submit">Submit</button>
                                </form>


                    <div class="reviews__content">
                    

                        {% if rental.comments.all %}
                        {% for comment in rental.comments.all %}
                        <div class="story">
                                <div>
                                        <figure class="story__shape">
                                                <img src="/static/images/signup.jpeg" alt="peron on  a tour" class="story__img">
                                                <figcaption class="story__caption">
                                                        {{comment.author}}
                                                </figcaption>

                                        </figure>
                                </div>
                                        <div class="story__text">
                                                <div class="story__text--heading">
                                                        <h3 class="heading-tertiary">{{comment.created_date}}</h3>
                                                    <div class="story__text--star">
                                                           {{comment.stars}} <i class="feature-box__icon icon-basic-star"></i>
                                                    </div>
                                                </div>
                                                <p>
                                                {{comment.text}}
                                                </p>
                                        </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <p>no comments</p>
                        {% endif %}

                    </div>

                    
                </div>

        </section>

{% endblock %}
