{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %}Add Rental | {{ block.super }}{% endblock %}

{% block content %}
        <section class="section section--form section--form--signup">


                <div class="card card__form card__form--signup">

                        <div class="card__picture card__form__picture" style="background-image: linear-gradient(to right bottom, rgba(64, 110, 142, .7), rgba(22, 25, 37, .7)),  url({% static 'images/form_images/rentaladd.jpg' %});">
                                &nbsp;
                        </div>
                        <h4 class="card__heading card__heading--form">
                                <span class="card__heading-span card__heading-span--form">
                                        Publish A Rental
                                </span>
                        </h4>
                        <form class="form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                        <div class="form__group">
                                                {{ field.label_tag }}

                                                {{ field }}

                                                {% if field.help_text %}
                                                        <span class="helptext">{{field.help_text}}</span>
                                                {% endif %}
                                        </div>
                                {% endfor %}
                                <div class="form__group">
                                        <button class="btn btn--primary">Create</button>
                                </div>
                        
                        </form>

                </div>
        </section>
{% endblock %}
