{% include 'base.html' %}

{% block content %}
  <h2 class="heading-primary">Log in</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <div class="form-div">
        <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log in</button>
                <a href="{% url 'accounts:signup' %}">New to My Site? Sign up</a>
        </form>
  </div>
{% endblock %}
