<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang=en>
        <head>
                <meta charset='UTF-8'>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie-edge">
                <title>{% block head_title %}Rental Service{% endblock head_title %}</title>
                {% include 'snippets/css.html' %}
                
        </head>
        <body>

                {% include 'snippets/nav.html' %}

                {% block header %}

                {% endblock %}
                <div class='container'>
                        {% block content %}

                        {% endblock %}
                </div>


                {% include 'snippets/footer.html' %}

                {% include 'snippets/js.html' %}

        </body>
</html>
