<h1>{{ rental.title }}</h1>
created_date : {{ rental.created_date  }}

<p> {{ rental.desription }}</p>
<p> {{ rental.rent }} </p>
{% if rental.negotiable %}
        the rent is negotiable
{% endif %}

{% if rental.comments.all %}
        <h4>Reviews</h4>
        <ul>
                {% for comment in rental.comments.all %}

                        <li>
                                <p>{{ comment.text }}</p>
                                {{comment.created_date}}
                        
                        </li>
                {% endfor %}
        
        </ul>
{% else %}
<p>no comments</p>
{% endif %}
<h3>Add comments</h3>
<form action={% url "rentals:comment" pk=rental.pk %} method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="comment">Comment</button>
</form>
